
a {
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  width: fit-content;
  transition: 0.3s ease;
}

/* active class on the NavLinks, provided by React Router */
.active {
  border-bottom: 2px solid var(--main-color);
}
